node_modules/

.ai/
.claude/
.claude-plugin/
.codebuddy/
.codex/
.codex-plugin/
.cursor/
.gemini/
.github/
.kiro/
.opencode/
.trae/

# Terraform local files
**/terraform/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/.env